@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

#design-main {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    font-family: 'Zen Dots', cursive;
    background-color: rgb(0, 0, 77);
    color: white;
    padding: 8px;
}

header h1, header h2 {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

main .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: .5rem;
    border: 1px solid #bbb;
    border-radius: 10px;
    background-color: #eee;
    max-width: 100%;
}

.card img {
    max-width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.container h2 {
    font-size: 20px;
}

.container p {
    color: black;
}

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer a, footer a:link, footera:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: rgb(187, 186, 186);
}

footer {
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: .9em;
}

footer p.highlight {
    color: yellow;
    font-size: .8em;
    margin-top: 0;
}