@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@300&display=swap');
@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 320px) and (max-width: 480px) {

}

li {
    list-style: none;
}

body {
    background-color: rgb(241, 240, 240);
    font-family: 'Karla', sans-serif;
}

header, footer {
    font-family: 'Spectral', serif;
    background-color: #6f8ab7;
    color: white;
    padding: 8px;
    width: 100%;
    align-content: center;
}

header {
    display: grid;
    grid-template-columns: 1.5fr .5fr 1fr;
}

header h1 {
    grid-column-start: 2;
    grid-row-start: 1;
}

header .motto {
    grid-column-start: 2;
    grid-row-start: 2;
}

header img {
    grid-column-start: 1;
    grid-row-start: 1;
    max-width: 7em;
    max-height: 7em;
}

a.icon {
    grid-column-start: 3;
    grid-row-start: 2;
    color: white;
    margin-top: 0em;
    margin-left: 0em;
}

nav {
    font-family: 'Spectral', serif;
    background-color: #36558a;
    color: white;
}

#preston-main {
    max-width: 1200px;
    margin: 0 auto;
}